<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="secondary">Filter</mat-toolbar>
    <mat-nav-list>
     <app-filter-tree></app-filter-tree>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <button mat-button style="font-size:18px" routerLink="/home" routerLinkActive="active">Detective</button>
      <button mat-button routerLink="/graph" routerLinkActive="active">Graph</button>
      <button mat-button routerLink="/team-alignment" routerLinkActive="active">Team Alignment</button>

    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">

   <router-outlet></router-outlet>
  </div>

  </mat-sidenav-content>
</mat-sidenav-container>
