.chart-container {
    width: 50%;
    height: auto;
}

@media (max-width: 1024px) {
    .chart-container {
        width: 100%;
    }
}

svg {
    width: 100%;
    height: auto;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    pointer-events: none; /* Verhindert, dass der Tooltip selbst Events empfängt */
    font-size: 14px;
    color: #333;
  }
  

  .custom-list-item {
    display: flex;
    align-items: center;
  }
  
  .custom-list-item .title {
    margin: 0;
    padding-right: 10px; /* Optional: Abstand zwischen Titel und Linie */
  }
  
  .custom-list-item .line {
    margin: 0;
  }
  