body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: 100%;
}

.qtip-bootstrap {
  max-width: 700px;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px solid #ddd;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  width: auto;
  max-width: 700px;
}

#network {
  height: 100%;
  margin: auto;
  cursor: pointer;
}

#cy {
  width: 100%;
  height: 100vh;
  display: block;
}

.filter {
  display: flex;
  align-items: baseline;
  max-width: 350px;
  padding-top: 20px;
}

.mr30 {
  margin-right: 30px;
}

.connections {
  width: 150px;
}
