<div class="forensic-filter" #filter>
  <div>
    <mat-checkbox
      class="mr30"
      [ngModel]="showChordDiagram()"
      (ngModelChange)="onToggleView($event)"
      >Chord Diagram</mat-checkbox
    >
    @if (!showChordDiagram()) {
    <mat-checkbox
      class="mr30"
      [ngModel]="groupByFolder()"
      (ngModelChange)="updateFilter({ groupByFolder: $event })"
      >Group by folder</mat-checkbox
    >
    }

    <mat-form-field appearance="outline" class="connections">
      <mat-label>Min. Connections</mat-label>
      <input
        type="number"
        matInput
        min="1"
        placeholder="Min. Connections"
        [ngModel]="minConnections()"
        (ngModelChange)="updateFilter({ minConnections: $event })"
      />
    </mat-form-field>

    <mat-icon
      [matTooltip]="toolTip()"
      matTooltipPosition="above"
      class="help-icon"
    >
      help_outline
    </mat-icon>
  </div>
  @if (type() === 'changes') {
  <app-limits
    [limits]="limits()"
    (limitsChange)="updateLimits($event)"
    [totalCommits]="totalCommits()"
  >
  </app-limits>
  }
</div>

<div class="chart-container">
  @if (!showChordDiagram()) {
  <app-graph [graph]="graph()"></app-graph>
  } @else {
  <app-chord-coupling-renderer
    [result]="couplingResult()"
    [type]="type()"
    [minConnections]="minConnections()"
  ></app-chord-coupling-renderer>
  }
</div>
