<h2 class="title mat-dialog-title">
  <div
    [ngStyle]="{ 'border-bottom-color': color() }"
    style="border-bottom: 4px solid; display: inline-block"
  >
    {{ module() }}
  </div>
</h2>

<div class="detail" style="height: 640px">
  <div class="p10">
    @if (loadingHotspots()) { Determining Hotspots ...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else if (hotspotResult().hotspots.length > 0) {
    <div xclass="mat-elevation-z8">
      <table mat-table [dataSource]="detailDataSource">
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef>Module</th>
          <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
        </ng-container>

        <ng-container matColumnDef="commits">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">Commits</th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.commits }}
          </td>
        </ng-container>

        <ng-container matColumnDef="complexity">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">
            Complexity
          </th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.complexity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">Score</th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.score }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: detailColumns"></tr>
      </table>
    </div>
    }
  </div>
</div>

<mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
