article {
    font-size: 18px;
    line-height: 24px;
    padding: 15px;
}

article h2 {
    margin-top: 40px;
}

.workshop-img, .book-img {
    height: 300px;
}

h3 {
    font-weight: bold;
}

.book {
    float: left;
    margin-right:50px;
}

.workshop {
    float: left;
}