<article>
  <h1>Detective 1.0.0</h1>

  <p>
    2024 by <a href="https://www.angulararchitects.io/">AngularArchitects.io</a>
  </p>

  <h2>Credits</h2>

  <p>Detective stand on the shoulders of giants:</p>
  
  <ul>
    <li>
      Inspired by the 
      <a href="https://nx.dev/" target="_blank">Nx Dependency Graph</a>
    </li>
    <li>
      Inspired by 
      <a href="https://x.com/AdamTornhill" target="_blank">Adam Tornhill's</a> 
      book 
      <a href="https://pragprog.com/titles/atcrime2/your-code-as-a-crime-scene-second-edition/" target="_blank">
        Your Code as a Crime Scene, Second Edition
      </a>
    </li>
    <li>
      Powered by 
      <a href="https://x.com/rainerhahnekamp" target="_blank">Rainer Hahnekamp's</a> 
      awesome and high-quality work on our open source project 
      <a href="https://softarc-consulting.github.io/sheriff/" target="_blank">Sheriff</a>
    </li>
  </ul>
  
  <h2>More Information</h2>

  <p>
    Please find more details in our <a href="https://github.com/angular-architects/detective/blob/main/README.md">README</a>.
  </p>
</article>
