<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    matTreeNodePadding
  >
    <button mat-icon-button disabled></button>
    <mat-checkbox
      [checked]="isChecked(node)"
      (change)="onCheckChange(node, $event)"
      (contextmenu)="noContextMenu($event)"
      >{{ node.name }}</mat-checkbox
    >
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.filename"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <div
      #contextMenuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="folderMenu"
    ></div>
    <mat-checkbox
      [checked]="isChecked(node)"
      (change)="onCheckChange(node, $event)"
      (contextmenu)="onContextMenu($event, contextMenuTrigger)"
      >{{ node.name }}</mat-checkbox
    >
    <mat-menu #folderMenu="matMenu">
      @if (hasFocus(node)) {
      <button mat-menu-item (click)="focusTree(undefined)">
        <mat-icon>open_in_full</mat-icon>
        <span>Unfocus</span>
      </button>
      } @else {
      <button mat-menu-item (click)="focusTree(node)">
        <mat-icon>start</mat-icon>
        <span>Focus</span>
      </button>
      }
      <button mat-menu-item (click)="selectChildren(node)">
        <mat-icon>checklist</mat-icon>
        <span>Select all children</span>
      </button>
    </mat-menu>
  </mat-tree-node>
</mat-tree>
