<div class="forensic-filter">
  <div>
    <mat-checkbox class="mr30" [(ngModel)]="groupByFolder"
      >Group by folder</mat-checkbox
    >

    <mat-form-field appearance="outline" class="connections">
      <mat-label>Min. Connections</mat-label>
      <input type="number" matInput min="1" [(ngModel)]="minConnections" />
    </mat-form-field>
  </div>
  @if (type() === 'changes') {
    <app-limits
      [(limits)]="limits"
      [totalCommits]="totalCommits()"
    ></app-limits>
  }
</div>

<div class="tooltip" id="tooltip"></div>
<div #graph id="cy"></div>
