<div class="forensic-filter">
  <div>
    <a
      mat-stroked-button
      class="docu-link"
      target="_blank"
      href="https://github.com/angular-architects/detective?tab=readme-ov-file#filtering-the-git-log"
    >
      Filter
    </a>

    <mat-label>Tolerance</mat-label>

    <mat-slider min="0" max="100" step="1" style="width: 150px">
      <input matSliderThumb value="1" [(ngModel)]="minScore().value" />
    </mat-slider>
    <mat-label style="margin-right: 20px; margin-left: 10px"
      >{{ minScore().value() }} %</mat-label
    >

    <mat-form-field appearance="fill" class="form-field metric">
      <mat-label>Complexity Metric</mat-label>
      <mat-select [(ngModel)]="metric().value">
        @for (option of metricOptions; track option.id) {
        <mat-option value="{{ option.id }}">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-icon
      matTooltip="A Hotspot is a complex file that was previously changed quite often and hence comes with a higher risk for bugs."
      matTooltipPosition="above"
      class="help-icon-hotspot"
    >
      help_outline
    </mat-icon>
  </div>

  <app-limits
    [limits]="limits()"
    (limitsChange)="updateLimits($event)"
    [totalCommits]="totalCommits()"
  >
  </app-limits>
</div>

<app-treemap
  [chartConfig]="treeMapConfig()"
  (elementSelected)="selectModule($event)"
></app-treemap>
