<div class="forensic-filter">
  <div>
    <mat-label>Min. Score: (%)</mat-label>

    <mat-slider min="0" max="100" step="1" style="width: 150px">
      <input matSliderThumb value="1" [(ngModel)]="minScore().value" />
    </mat-slider>
    <mat-label style="margin-right: 20px; margin-left: 10px"
      >{{ minScore().value() }} %</mat-label
    >

    <mat-form-field appearance="fill" class="form-field metric">
      <mat-label>Complexity Metric</mat-label>
      <mat-select [(ngModel)]="metric().value">
        @for (option of metricOptions; track option.id) {
        <mat-option value="{{ option.id }}">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-icon
      matTooltip="A Hotspot is a complex file that was previously changed quite often and hence comes with a higher risk for bugs. The calculated hotspot score is the product of the amount of changes and the complexity. You can see it as an sort index and you cannot compare it with other hotspot analyses. The slider on the left defines when a region is identified as a hotspot. For instance, 33% defines that each region having 33% or more of the maximum hotspot score is a hotspot. For a better overview, these hotspots are seperated into two equal areas: the lower half is displayed yellow and the upper half is red."
      matTooltipPosition="above"
      class="help-icon-hotspot"
    >
      help_outline
    </mat-icon>
  </div>

  <app-limits
    [limits]="limits()"
    (limitsChange)="updateLimits($event)"
    [totalCommits]="totalCommits()"
  >
  </app-limits>
</div>

<app-treemap
  [chartConfig]="treeMapConfig()"
  (elementSelected)="selectModule($event)"
></app-treemap>
