<div class="forensic-filter">
  <div>
    <mat-label>Min. Score: (%)</mat-label>

    <mat-slider min="0" max="100" step="1" style="width: 150px">
      <input matSliderThumb value="1" [(ngModel)]="minScore().value" />
    </mat-slider>
    <mat-label style="margin-right: 20px; margin-left: 10px"
      >{{ minScore().value() }} %</mat-label
    >

    <mat-form-field appearance="fill" class="form-field metric">
      <mat-label>Complexity Metric</mat-label>
      <mat-select [(ngModel)]="metric().value">
        @for (option of metricOptions; track option.id) {
        <mat-option value="{{ option.id }}">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-icon
      matTooltip="A Hotspot is a complex file that was previously changed quite often and hence comes with a higher risk for bugs."
      matTooltipPosition="above"
      class="help-icon-hotspot"
    >
      help_outline
    </mat-icon>
  </div>

  <app-limits
    [limits]="limits()"
    (limitsChange)="updateLimits($event)"
    [totalCommits]="totalCommits()"
  >
  </app-limits>
</div>

<div class="aggregated">
  <div class="p10">
    @if (loadingAggregated() || (loadingAggregated() && selectedModule())) {
    Determining Hotspots ...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <table
      mat-table
      [dataSource]="formattedAggregated()"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef>Module</th>
        <td mat-cell *matCellDef="let element">{{ element.module }}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let element">{{ element.count }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay; let i = index"
        (click)="selectRow(row, i)"
        [class.selected]="isSelected(i)"
      ></tr>
    </table>
    }
  </div>
</div>

<div class="detail">
  <div class="p10">
    @if (loadingHotspots()) { Determining Hotspots ...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else if (hotspotResult().hotspots.length > 0) {
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="detailDataSource">
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef>Module</th>
          <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
        </ng-container>

        <ng-container matColumnDef="commits">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">Commits</th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.commits }}
          </td>
        </ng-container>

        <ng-container matColumnDef="complexity">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">
            Complexity
          </th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.complexity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef class="metric-cell">Score</th>
          <td mat-cell *matCellDef="let element" class="metric-cell">
            {{ element.score }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="detailColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: detailColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 15, 20, 25]"
        [pageSize]="10"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    }
  </div>
</div>
