.form-container {
  display: flex;
}

.form-field {
  margin-right: 16px; /* Add some space between the fields */
}

.type {
  width: 180px;
}

.commits {
  width: 150px;
}

.months {
  width: 150px;
}
