<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [style.width.px]="sidenavWidth()"
    fixedInViewport
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="isHandset() === false"
  >
    <mat-toolbar color="secondary">Filter</mat-toolbar>
    <mat-nav-list>
      <app-filter-tree></app-filter-tree>
    </mat-nav-list>

    <app-resizer [(position)]="sidenavWidth"></app-resizer>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left.px]="contentMarginLeft()">
    <mat-toolbar color="primary">
      @if (isHandset()) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }

      <span class="app-title">Detective</span>

      <button mat-button routerLink="/graph" routerLinkActive="active">
        Graph
      </button>
      <button mat-button routerLink="/team-alignment" routerLinkActive="active">
        Team Alignment
      </button>
      <button mat-button routerLink="/hotspots" routerLinkActive="active">
        Hotspots
      </button>
      <button
        mat-button
        routerLink="/change-coupling"
        routerLinkActive="active"
      >
        Change Coupling
      </button>

      <span class="flex-spacer"></span>

      <button
        mat-button
        class="about"
        routerLink="/about"
        routerLinkActive="active"
      >
        About
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
