<mat-sidenav-container class="sidenav-container" [autosize]="true">
  <mat-sidenav
    #drawer
    class="sidenav"
    [style.width.px]="sidenavWidth()"
    fixedInViewport
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true"
  >
    <mat-toolbar color="secondary">Filter</mat-toolbar>
    <mat-nav-list>
      <app-filter-tree></app-filter-tree>
    </mat-nav-list>

    <app-resizer [(position)]="sidenavWidth"></app-resizer>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        [attr.aria-label]="drawer.opened ? 'Hide filters' : 'Show filters'"
        title="Filters"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-hidden="true">{{
          drawer.opened ? 'close' : 'filter_alt'
        }}</mat-icon>
      </button>

      <span class="app-title">Detective</span>

      <button mat-button routerLink="/graph" routerLinkActive="active">
        Graph
      </button>
      <button mat-button routerLink="/team-alignment" routerLinkActive="active">
        Team Alignment
      </button>
      <button mat-button routerLink="/hotspots" routerLinkActive="active">
        Hotspots
      </button>
      <button mat-button routerLink="/hotspot-city" routerLinkActive="active">
        Hotspot City
      </button>
      <button
        mat-button
        routerLink="/change-coupling"
        routerLinkActive="active"
      >
        Change Coupling
      </button>
      <button mat-button routerLink="/trend-analysis" routerLinkActive="active">
        Trend Analysis
      </button>

      <span class="flex-spacer"></span>

      <button
        mat-button
        class="about"
        routerLink="/about"
        routerLinkActive="active"
      >
        About
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
